
body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat ;
}
main{
    width: 750px;
    height:fit-content;
    border-radius: 10px;
    margin: auto;
    background-color: skyblue;

    
    #next{
        background-color: rgb(56, 94, 92);
    }
    #submit{
        background-color: rgb(0, 132, 255);
    }
    #start{
        background-color: rgb(0, 152, 0);
    }
    button{
        border:none;
        border-radius:7px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        width: 40%;
        height: 30px;
        box-shadow: black 0px 0px 2px;
     }
     
     
     button:active{
         color: red;
         box-shadow: black 0px 0px 7px;
     }
}
.feed{
    color: rgb(36, 4, 66);
}
.score{
    margin-bottom: 10px;
    color: blueviolet;
    div{
        color: yellow;
        font-size:60px;
        text-shadow: blue 0px 0px 3px;
    }
}
.tik{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.opn{
    color: rgb(255, 14, 99);}

    td{
        padding: 5px;
        font-size: small;

    }
    .td1{
        color: rgb(116, 24, 202);
    }
.Q{
    color: rgb(56, 56, 94);
}
.right{
    color: green;
}
.right,.select{
    text-align: center;
}
#section1{
    display: grid;
    grid-template-columns:6fr 6fr;
    dl{
        width: fit-content;
        margin: auto;
    }
}
dt{
    margin: 10px;
    font-size: larger;
   font-weight: bold;
   color: blueviolet;
}
dd{
color:rgb(32, 32, 88);
font-weight: bold;
}
#section2{
    text-align: center;
    color: blueviolet;
    font-size: larger;
    font-weight: bold;
}
h1{
    color: rgb(255, 177, 21);
    text-shadow: black 0px 0px 3px;
    text-align: center;
    font-size: 50px;
}
 img{
    width: 25%;
}
#list{
    padding: 10px;
    display: none;
    img{
        width:70px;
    }
    .div{
        display: grid;
        grid-template-columns: 6fr 6fr;
        margin-bottom:15px;
        box-shadow: black 0px 0px 4px inset;
        padding: 5px;
        font-weight: bold;
    }
    
} 
#section0{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    div{
       div{
        color: red;
        font-size: 50px;
        font-weight: bold;
       }
    }
    span{
        font-style: italic;
        font-weight: bold;
        color: rgb(32, 32, 88);
    }
}
@media only screen and (max-width:800px){
    main{
        width: 101%;
    }
}
@media only screen and (max-width:600px){
    main{
        #list{
            .div{
                grid-template-columns:12fr;
            }
        }
    }
    #section1{
        grid-template-columns: 12fr;
        #section0{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    #section0{
        height: 110px;
    }
}